.barChart{
    width: 835px;
    height: 320px;
    position: relative;
    padding: 20px;
    background-color: #FBFBFB;
    border-radius: 5px;
}

.barChart-title{
    position: absolute;
    margin-top: 0;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 700;
}

.legend--black{
    color: black;
}